# Output files
*.o
# Compiled Files
bin/*

#ampl installation for licensing reasons
ampl_linux-intel64/*

# vim swap files
.*.swp
include/.*.swp
src/.*.swp

output.txt
out.txt
preMadeFiles/out.txt
preMadeFiles/output.txt
preMadeFiles/runner
runner
sudoku.*
